#page main{
    display: flex;
    min-height: 500px;
    margin: 0 10px;
  }
  #page section{
    /* margin: 40px 0; */
    min-height: 500px;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    /* border: 2px solid black; */
    }

  #page .infobox{
    padding-left: 0;
    margin-right: 40px;
    /* border-right: 1px solid var(--color-black); */
  }

  #page .picture{
    /* height: 400px; */
    width: 300px;
    height: 400px;
    overflow: hidden;
    background-color: wheat;
    border-radius: 3px;
  }
  
  #page img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  