#page main{
    display: flex;
    min-height: 500px;
    margin: 0 10px;
  }
  #page section{
    min-height: 500px;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    }

  #page .infobox{
    padding-left: 0;
    margin-right: 40px;
  }

  #page .picture{
    width: 300px;
    height: 400px;
    overflow: hidden;
    background-color: wheat;
    border-radius: 3px;
  }
  
  #page img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  /* Responsive styles for mobile */
  @media screen and (max-width: 768px){
    #page main{
      flex-direction: column;
      min-height: auto;
      margin: 0;
    }
    
    #page section{
      width: 100%;
      min-height: auto;
      justify-content: center;
      margin-bottom: 30px;
    }
    
    #page .infobox{
      margin-right: 0;
      padding: 0 20px;
      width: 100%;
    }
    
    #page .picture{
      width: 100%;
      max-width: 300px;
      height: auto;
      aspect-ratio: 3/4;
    }
    
    #page .picture img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  