@import '//fonts.googleapis.com/css?family=Cutive';
/* inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --font-family-base: 'Roboto', 'Inter', 'serif';
  --font-size-base: 18px;
  --line-height-base: 1.4;
  --color-black: #222;
  --color-white: #ededed;
  --color-red: #c92b2b;
  /* --spacing: 0.8px; */
  --spacing-large: 3px;
}
*{
  color: var(--color-black);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: 300;
  font-optical-sizing: 'opsz' 12;
  font-variation-settings: "slnt" 0;
  letter-spacing: var(--spacing);
  font-stretch: expanded;
  /* line-height: 1rem; */

}

a{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a:hover{
  color: orange;
}

h1{
  font-size: 1.7rem;
  margin-bottom: 30px;
  letter-spacing: var(--spacing-large);
}

p{
  font-size: 0.8rem;
  /* line-height: 1.5rem; */
}
p a{
  font-size: 0.8rem;
  /* line-height: 1.5rem; */
}

hr{
  background-color: rgb(221, 221, 221);
  height: 0.1px;
  width: 97%;
  box-shadow: none;
  border: none;
}

ul li{
  font-size: 0.8rem;
}

.navbar{
  margin: 30px 0 70px 0;
  height: 40px;
  position: relative;
}
.navbar a{
  font-family: 'roboto';
  font-weight: 400;
  letter-spacing: 2px;
}
.nav-container{
  padding: 0;
  list-style-type: none;
  display: flex;
  height: 40px;
}
.nav-container li{
  display: block;
  padding: 10px;
}

.nav-container #home{
  margin-right: auto;
  padding-left: 0;
}

.nav-container #contact{
  height: 100%;
  display: block;
  background-color: var(--color-black);
  color: var(--color-white) !important;
  border-radius: 4px;
  margin-top: 2px;
  margin-left: 2px;
  padding-right: 5px;
  height: 85%;  
  align-self: center;
  border: none;
}

#contact a{
  color: var(--color-white);
}
#contact:hover{  
  background-color: orange;
}

/* Hamburger menu button */
.menu-toggle{
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 8px;
  z-index: 1001;
}

.menu-toggle span{
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--color-black);
  margin: 5px 0;
  transition: 0.3s;
}

.menu-toggle.active span:nth-child(1){
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-toggle.active span:nth-child(2){
  opacity: 0;
}

.menu-toggle.active span:nth-child(3){
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsive styles for mobile */
@media screen and (max-width: 768px){
  .menu-toggle{
    display: block;
  }
  
  .navbar{
    height: auto;
    margin-bottom: 20px;
  }
  
  .nav-container{
    flex-direction: column;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .nav-container.active{
    max-height: 500px;
    padding: 10px 0;
  }
  
  .nav-container li{
    width: 100%;
    padding: 15px 20px;
    text-align: left;
  }
  
  .nav-container #home{
    margin-right: 0;
    padding-left: 20px;
  }
  
  .nav-container #contact{
    width: calc(100% - 40px);
    margin: 10px 20px;
    height: auto;
    padding: 10px;
    text-align: center;
  }
  
  container-all{
    width: 95%;
    min-width: 0;
  }
}

/* normal page mode */
container-all{
  display:block;
  background-color: white;
  margin: 0 auto;
  width:70%;
  max-width: 800px;
  min-width: 400px;
}

footer{
  display: none;
  position: absolute;
  bottom: 0;
  height: 15vh;
}

icon-row{
  display:flex;
  align-items: center;
}
/* 
.inter-slight {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
} */
#colorful-background{
  line-height: 1rem;
  cursor: crosshair;
  box-sizing: border-box;
  font-family: 'roboto';
  font-size: var(--font-size-base);     /*14px*/
  letter-spacing: 5px;       /*5px*/
  line-height: 1.9rem; /*1.4*/
  color: var(--color-white); 
  height:100vh;
  margin: 0;
  --x: calc(var(--posX, 0) * 1px);
  --y: calc(var(--posY, 0) * 1px);
  background-image: 
    linear-gradient(115deg, rgb(211 255 215), rgb(0 0 0)), 
    radial-gradient( 90% 100% at calc( 50% + var(--x)) calc( 0% + var(--y)), rgb(200 200 200), rgb(68, 48, 88)), 
      radial-gradient(100% 100% at calc( 80% - var(--x)) calc( 0% - var(--y)), rgb(250 255 000), rgb(036 000 000)), 
      radial-gradient(150% 210% at calc(100% + var(--x)) calc( 0% + var(--y)), rgb(178, 255, 201), rgb(115, 215, 255)), 
      radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), rgb(255 077 000), rgb(000 200 255)), 
      linear-gradient(60deg, rgb(208, 54, 255),rgb(115, 215, 255));
      background-blend-mode: overlay, overlay, difference, difference, difference, normal;
    }
    /* body{
        height:100vh;
        margin: 0;
        --x: calc(var(--posX, 0) * 1px);
        --y: calc(var(--posY, 0) * 1px);
        background-image: 
          linear-gradient(115deg, rgb(211 255 215), rgb(0 0 0)), 
          radial-gradient( 90% 100% at calc( 50% + var(--x)) calc( 0% + var(--y)), rgb(200 200 200), rgb(022 000 045)), 
          radial-gradient(100% 100% at calc( 80% - var(--x)) calc( 0% - var(--y)), rgb(250 255 000), rgb(036 000 000)), 
          radial-gradient(150% 210% at calc(100% + var(--x)) calc( 0% + var(--y)), rgb(020 175 125), rgb(000 010 255)), 
          radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), rgb(255 077 000), rgb(000 200 255)), 
          linear-gradient(60deg, rgb(255 000 000), rgb(120 086 255));
        background-blend-mode: overlay, overlay, difference, difference, difference, normal;
      } 
      :root {
      --blue: #1e90ff;
      --white: #ffffff;
    }
    
    body { background-color: var(--blue); }
      
      */