#page main{
    display: flex;
    min-height: 500px;
    margin: 0 10px;
  }
  #page section{
    min-height: 500px;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    }

  #page .infobox{
    padding-left: 0;
    margin-right: 40px;
  }

  #page .picture{
    width: 300px;
    height: 400px;
    overflow: hidden;
    background-color: wheat;
    border-radius: 3px;
  }
  
  #page img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  